Source: mp3splt-gtk
Section: sound
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Ryan Niebur <ryanryan52@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: audacious-dev (>= 3.2),
               autopoint,
               dh-autoreconf,
               debhelper (>= 7.2),
               gnome-doc-utils (>= 0.3.2),
               libgstreamer-plugins-base0.10-dev,
               libgstreamer0.10-dev,
               libgtk-3-dev,
               libmp3splt-dev (<< 0.7.2~),
               libmp3splt-dev (>= 0.7.1),
               rarian-compat
Standards-Version: 3.8.1
Homepage: http://mp3splt.sourceforge.net/
Vcs-Git: git://git.ryan52.info/git/mp3splt-gtk
Vcs-Browser: http://git.ryan52.info/?p=mp3splt-gtk;a=summary

Package: mp3splt-gtk
Architecture: any
Depends: libmp3splt-mp3 | libmp3splt-plugin, ${misc:Depends}, ${shlibs:Depends}
Recommends: gstreamer0.10-plugins-good
Suggests: audacious
Description: GTK interface to split MP3 and Ogg Vorbis files without reencoding
 Mp3Splt-project is a utility to split mp3 and ogg files selecting a
 begin and an end time position, without decoding. It's very useful to
 split large mp3/ogg to make smaller files or to split entire albums to
 obtain original tracks. If you want to split an album, you can select
 split points and filenames manually or you can get them automatically
 from CDDB (internet or a local file) or from .cue files. Supports also
 automatic silence split, that can be used also to adjust cddb/cue
 splitpoints. You can extract tracks from Mp3Wrap or AlbumWrap files in
 few seconds. For mp3 files, both ID3v1 & ID3v2 tags are
 supported. Mp3splt-project is split in 3 parts : libmp3splt, mp3splt
 and mp3splt-gtk.
 .
 This package provides mp3splt-gtk, the graphical interface.
