#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/libmp3splt-dev/mp3splt.rules
  
BUILD_DEPS := $(BUILD_DEPS), libgtk-3-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev | libgstreamer-plugins-base1.0-dev, libaudclient-dev, gnome-doc-utils, rarian-compat
EXTRA_CONFIGURE_OPTS=--enable-gtk3 --disable-gtk2
LONG_INTERFACE="graphical"
SHORT_INTERFACE="GTK"
SUGGESTS=audacious
RECOMMENDS=gstreamer0.10-plugins-good

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- PKG_CONFIG_PATH=/tmp/temp/usr/lib/pkgconfig

